{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="container align-self-center">
  <div class="main-body align-self-center">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Full Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <i id="updFirstName" contenteditable="true">{{user.first_name}}</i>
            <i id="updLastName" contenteditable="true">{{user.last_name}}</i>
            <button id="updPersonalInfo" class="btn btn-sm btn-success">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary" contenteditable="true">
            {{user.email}}
          </div>
        </div>
      </li>
    </ul>
    <hr />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Date</th>
            <th scope="col">Order status</th>
            <th scope="col">Products</th>
          </tr>
        </thead>
        <tbody>
          {% for order in user.customer.get_orders %}
          <tr>
            <th scope="row">{{order.id}}</th>
            <td>{{order.transaction_id}}</td>
            <td>{{order.date_ordered}}</td>
            <td>
              {% if order.complete %} Completed {% else %} Awaiting payment
              {%endif %}
            </td>
            <td>
              <ul>
                {% for orderitem in order.get_items %}
                <li>
                  <a href="/product/{{orderitem.product.id}}"
                    >{{orderitem.product.name}}</a
                  >
                  (x{{orderitem.quantity}})
                </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  let updFirstName = document.getElementById("updFirstName");
  let updLastName = document.getElementById("updLastName");
  let updPersonalInfo = document.getElementById("updPersonalInfo");

  updPersonalInfo.addEventListener("click", () => {
    let fName = updFirstName.textContent;
    let lName = updLastName.textContent;

    fetch("/upd_personal_info/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({
        fName: fName,
        lName: lName,
      }),
    });
  });
</script>
<style>
  th,
  td {
    text-align: center;
  }
</style>
{% endblock content %}
